# 日志文件
# *表示当前路径下的任意字符
*.log 

# 可重定位文件，C编译过程的中间文件，等待被链接成二进制文件
# **表示递归匹配路径下的任意字符
**/*.o

# 汇编文件
**/*.s

# 临时文件，文件夹内以tmp开头的文件
/tmp*

# 编译器默认生成的运行文件名
a.out

# 生成的最终的rvcc可执行文件
/rvcc

# CMake生成的文件目录
build/

# IDE相关文件夹
.cache/
.vscode/
